.Dates {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.Name {
    text-align: center;
}

.FirstDate {}

.SecondDate {}

.Text {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;

}

.Label {
    float: left;
}

.Day, .Month, .Year {
    margin-top: 4px;
    clear: both;
    text-align: right;
}

.Field {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #000;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}


.ClickButton {
    text-align: center;
}

.Button {
    margin-top: 2%;
    padding: 10px 50px;
    border-radius: 55px;
    background: linear-gradient(90deg, rgba(222, 125, 254, 0.90) 7.65%, rgba(122, 43, 148, 0.68) 104.38%);
    color: #FFF;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    border: none;
}

.Result {
    margin-left: 5%;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


@media only screen and (max-width: 768px) {
    .Dates {
        display: inline;
        margin: 25px 50px 75px;
    }

    .FirstDate {
        margin-left: 15%;
        margin-right: 15%;
    }

    .SecondDate {
        margin-left: 15%;
        margin-right: 15%;
    }
}