.Dates {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 75px;
    background: linear-gradient(90deg, rgba(239, 193, 255, 0.9) 7.65%, rgb(80, 6, 104) 104.38%);
    margin-bottom: 20px;
}

.Logo {
    margin-top: 10px;
    margin-left: 40px;
}

.Rhombus {
    float: right;
}

.Era label {
    margin-right: 10px;
}

.Era input[type="radio"] {
    margin-right: 50px;
}

.Name {
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-grow: 1;
}

input[type="number"].Field, select {
    box-sizing: border-box;
    appearance: none;
    font-size: 30px;
    padding: 0 5px;
    border-radius: 7px;
    border: 3px solid #000;
    margin-left: 40px;
    width: 210px;
    height: 40px;
    background-color: #FFF;
}

#LanguageSelect {
    text-align: left;
    width: 74px;
    background-image: url('arrow-lang.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

input[type="radio"] {
    padding: 7px;
    border: 2px solid #DE7DFE;
    border-radius: 50%;
    appearance: none;
    /* remove default styling */
}

input[type="radio"]:checked {
    padding: 7px;
    background-color: #DE7DFE;
}

.Text {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
}

.Label {
    float: left;
}

.Day, .Month, .Year {
    margin-top: 4px;
    clear: both;
    text-align: right;
}

.ClickButton {
    text-align: center;
}

.Button {
    margin-top: 2%;
    padding: 10px 50px;
    border-radius: 55px;
    background: linear-gradient(90deg, rgba(222, 125, 254, 0.90) 7.65%, rgba(122, 43, 148, 0.68) 104.38%);
    color: #FFF;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    border: none;
    transition: transform 0.3s ease;
}

.Button:hover {
    transform: scale(1.03);
    background: linear-gradient(90deg, rgba(234, 172, 255, 0.90) 42.79%, rgba(166, 59, 201, 0.68) 116.07%);
}

.Button:active {
    color: #949292;
    background: linear-gradient(90deg, rgba(113, 36, 138, 0.9) -12.18%, rgba(81, 0, 105, 0.68) 61.11%);
}

.Result {
    margin-left: 5%;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media only screen and (min-width: 1000px) {
    section.NameAndLanguage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .Name {
        margin-right: 50px;
    }

    select {
        background-image: url('arrow-month.svg');
        background-repeat: no-repeat;
        background-position: right center;
    }


    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        width: 16px;
        height: 40px;
        background-image: url('arrows.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .Logo {
        position: absolute
    }

    #date1header, #date2header, .Era {
        text-align: center;
    }

    .Dates {
        display: inline;
    }

    .FirstDate, .SecondDate {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

    .LanguageSelect {
        text-align: right;
        margin-right: 40px;
    }

    .Button:hover {
        transform: scale(1);
        background: linear-gradient(90deg, rgba(222, 125, 254, 0.90) 7.65%, rgba(122, 43, 148, 0.68) 104.38%);
    }

    .Button:active {
        color: #949292;
        background: linear-gradient(90deg, rgba(113, 36, 138, 0.9) -12.18%, rgba(81, 0, 105, 0.68) 61.11%);
    }
}

@media only screen and (max-width: 555px) {
    .Logo {
        margin-left: 0px;
        margin-top: 15px;
        height: 50px;
    }

    .Rhombus {
        opacity: 0.5;
    }

    .FirstDate, .SecondDate {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .Era label {
        margin-right: 4px;
    }

    .Era input[type="radio"] {
        margin-right: 30px;
    }

    input[type="number"].Field, select {
        width: 180px;
        height: 40px;
        margin-left: 5px;
        padding: 0 2px;
    }
}