.Dates {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

input[type="number"].Field, select {
    box-sizing: border-box;
    appearance: none;
    font-size: 30px;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid #000;
    margin-left: 40px;
    width: 200px;
    height: 40px;
    background-color: #FFF;
}

#LanguageSelect {
    border-radius: 5px;
    border: 2px solid #000;
    width: auto;
}

.Name {
    text-align: center;
}

.Text {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
}

.Label {
    float: left;
}

.Day, .Month, .Year {
    margin-top: 4px;
    clear: both;
    text-align: right;
}

.ClickButton {
    text-align: center;
}

.Button {
    margin-top: 2%;
    padding: 10px 50px;
    border-radius: 55px;
    background: linear-gradient(90deg, rgba(222, 125, 254, 0.90) 7.65%, rgba(122, 43, 148, 0.68) 104.38%);
    color: #FFF;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    border: none;
    transition: transform 0.3s ease;
}

.Button:hover {
    transform: scale(1.03);
    background: linear-gradient(90deg, rgba(234, 172, 255, 0.90) 42.79%, rgba(166, 59, 201, 0.68) 116.07%);
}

.Button:active {
    color: #949292;
    background: linear-gradient(90deg, rgba(113, 36, 138, 0.9) -12.18%, rgba(81, 0, 105, 0.68) 61.11%);
}

.Result {
    margin-left: 5%;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



@media only screen and (max-width: 950px) {

    input[type="number"].Field, select {
        padding: 0 2px;
        margin-left: 5px;
        width: 180px;
        height: 40px;
        background-color: #FFF;
    }

    .Dates {
        display: inline;
    }

    .FirstDate, .SecondDate {
        padding-left: 2%;
        padding-right: 2%
    }

    .Button:hover {
        transform: scale(1);
        background: linear-gradient(90deg, rgba(222, 125, 254, 0.90) 7.65%, rgba(122, 43, 148, 0.68) 104.38%);
    }

    .Button:active {
        color: #949292;
        background: linear-gradient(90deg, rgba(113, 36, 138, 0.9) -12.18%, rgba(81, 0, 105, 0.68) 61.11%);
    }

}